/*
* === SETTING UP BASICS ===
*/

body{
    background: #1cb3c8;
    color: #3c415e;
    font-family: Agency FB;   
}



/*
* === HEADER ===
*/

#header{
    border: 1px solid #3C415E;
}

#header img{
    width: 50%;
}

#header h1{
    font-weight: bold;
}


/*
* === INFO TABLE ===
*/

#infoSection{
    border: 1px solid #3C415E;
}

#infoTableHeader{
    border: 1px solid #3C415E;
    font-weight: bold;
    font-size: 30px;
}

.infoTableInfo{
    background: #738598;
    border: 1px solid #3C415E;
    font-size: 30px;
}