#header {
    border: 3px solid red;

    img {
        border: 1px solid red;
       
    }

    h1 {
        font-weight: bold;
        border: 1px solid red;
    }

    ul{
        border: 1px solid yellow;
    }

    #appTitle{
        font-size: 24px;
    }
}