// VARIABLES, FUNCTIONS =================

$colors: (primary:#1cb3c8,
    fontLine: #3c415e,
    accent: #738598,
    accentLighten: lighten(#738598, 10%),
);


@function color($colorName) {
    @return map-get($colors, $colorName)
}

;

$fonts:(basic: 22px,
    footer: 15px,
    headerSize: 24px,
);

@function font($fontSize) {
    @return map-get($fonts, $fontSize)
}

;

$paddings:(basic: 5px,
topSide: 10px,
    leftSide: 30px,
    bottomSide: 50px,
);

@function padding($paddingSize) {
    @return map-get($paddings, $paddingSize)
}

;

// DESIGN ================================

body,
html {
    height: 100%;
}

;

body {
    background: color(primary);
    color: color(fontLine);
    font-family: 'Abel', sans-serif;
    font-size: font(basic);
    margin: 0;

    #header {
        width: 100%;
        display: inline-block;

        p {
            font-size: font(headerSize);
            font-weight: bold;
            text-align: center;

        }

        .responsiveImg {
            padding: padding(basic);
            width: 100%;
            max-width: 40px;
            height: 40px;

        }
    }



    #informationBar {
        background: color(accent);
        border-bottom: 1px solid color(fontLine);
        border-top: 2px solid color(fontLine);
        padding: 0;
        margin: 0;

        #infoTableHeader {
            background: color(primary);
            border-bottom: 2px solid color(fontLine);
            font-weight: bold;
            padding: padding(basic);
            padding-left: padding(leftSide);
        }

        .infoTableInfo {
            border-bottom: 2px solid color(fontLine);
            padding: padding(basic);
            padding-left: padding(leftSide);
        }
    }

    #footer {

        font-size: font(footer);
        
        color: color(fontLine);
        font-weight: bold;
        margin-top: padding(topSide);
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding-bottom: padding(topSide);

        p {
            padding: 0;
            margin: 0;
            

            a, i{
                text-decoration: none;
                color: color(fontLine);
                font-weight: normal;
                padding-left: padding(topSide);
            }
        }
    }

    #topBtn {
        position: fixed;
        bottom: 2%;
        right: 2%;
        font-size: 22px;
        width: 50px;
        height: 50px;
        background: color(primary);
        color: color(accent);
        border: none;
        text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkblue;
        cursor: pointer;
        display: none;
    

    }
}