.ui-content {
  padding: 0;
}

body {
  background: #1cb3c8;
  color: #3c415e;
  font-family: 'Abel', sans-serif;
  padding: 0;
  margin: 0;
}

body #header {
  width: 100%;
  display: inline-block;
}

body #header p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

body #header .responsiveImg {
  padding: 5px;
  width: 100%;
  max-width: 40px;
  height: 40px;
}

body #header .fa-sign-out-alt {
  font-size: 50px;
  color: #3c415e;
}

body #informationBar {
  border-top: 2px solid #3c415e;
  width: 100%;
}

body #informationBar #infoTableHeader {
  background: #1cb3c8;
  border-bottom: 2px solid #3c415e;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

body #informationBar #infoTableHeader ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #informationBar #infoTableInfo {
  background: #738598;
  border-bottom: 2px solid #3c415e;
}

body #informationBar #infoTableInfo .collapsible {
  background: #738598;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

body #informationBar #infoTableInfo .collapsible div {
  width: 33%;
  height: 100%;
}

body #informationBar #infoTableInfo .active,
body #informationBar #infoTableInfo .collapsible:hover {
  background-color: #66788b;
}

body #informationBar #infoTableInfo .content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

body #informationBar #infoTableInfo #moreInfo {
  width: 100%;
  background: #dfe2e2;
}

body #informationBar #infoTableInfo #moreInfo #detailInfos {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 120px;
}

body #informationBar #infoTableInfo #moreInfo #detailInfos #gigAddress {
  margin-top: 10px;
  margin-left: 10px;
  width: 80%;
}

body #informationBar #infoTableInfo #moreInfo #detailInfos #gigAddress p {
  font-size: 20px;
  margin: 0;
}

body #informationBar #infoTableInfo #moreInfo #detailInfos #gigAddress #institution {
  font-weight: bold;
}

body #informationBar #infoTableInfo #moreInfo #detailInfos #ticketsPrice {
  width: 20%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 40px;
}

body #informationBar #infoTableInfo #moreInfo #detailInfos #ticketsPrice a {
  text-decoration: none;
  border: 2px solid #3c415e;
  border-radius: 10px;
}

body #informationBar #infoTableInfo #moreInfo #detailInfos #ticketsPrice a p {
  font-size: 20px;
  color: #3c415e;
  font-weight: bold;
  cursor: pointer;
}

body #informationBar #infoTableInfo #moreInfo #map .mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

body #informationBar #infoTableInfo #moreInfo #map .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

body #informationBar #footerPadding {
  width: 100%;
  height: 60px;
}

body #footer {
  border-top: 1px solid #3c415e;
  font-size: 15px;
  background: #1cb3c8;
  color: #3c415e;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

body #footer p {
  padding: 0;
  margin: 0;
}

body #footer p a,
body #footer p i {
  text-decoration: none;
  color: #3c415e;
  font-weight: normal;
  padding-left: 10px;
  font-size: 24px;
}

body #topBtn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #1cb3c8;
  color: #738598;
  border: none;
  text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkblue;
  cursor: pointer;
  display: none;
}

.chatbox {
  border-top: 1px solid #3c415e;
  height: 100vh;
}

.chatbox .chatlogs {
  padding: 10px;
  background: #dfe2e2;
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* .friend .chat-message::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid #fff;
            border-bottom: 13px solid transparent;
            margin: 13px 00 -25px;
            
        } */
}

.chatbox .chatlogs .chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatbox .chatlogs .chat .user-photo {
  width: 60px;
  height: 60px;
  background: #1cb3c8;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 4px 5px 10px #738598;
          box-shadow: 4px 5px 10px #738598;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chatbox .chatlogs .chat .user-photo img {
  width: 100%;
}

.chatbox .chatlogs .chat .chat-message {
  width: 65%;
  padding: 5px;
  margin: 5px 5px 0;
  font-size: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 5px 10px #738598;
          box-shadow: 4px 5px 10px #738598;
}

.chatbox .chatlogs .friend .chat-message {
  background: #fff;
}

.chatbox .chatlogs .self .chat-message {
  background: #c4caca;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.chatbox .chatlogs::-webkit-scrollbar {
  width: 10px;
}

.chatbox .chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #c4caca;
}

.chatbox .chat-form {
  background: #1cb3c8;
  margin-top: 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatbox .chat-form textarea {
  resize: none;
  background: #dfe2e2;
  color: #3c415e;
  width: 75%;
  height: 105px;
  border: 1px solid #3c415e;
  border-radius: 20px;
  padding: 15px;
  cursor: text;
  overflow: auto;
}

.chatbox .chat-form textarea:focus {
  background: #fff;
  cursor: text;
}

.chatbox .chat-form button {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  opacity: 1;
  cursor: pointer;
}

.chatbox .chat-form .fa-paper-plane {
  font-size: 50px;
}

#loginBtn {
  background: #dfe2e2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loginBtn button {
  border: 2px solid #3c415e;
  border-radius: 20px;
}
/*# sourceMappingURL=styles.css.map */