// VARIABLES, FUNCTIONS =================

$colors: (primary:#1cb3c8,
    fontLine: #3c415e,
    accent: #738598,
    accentLighten: lighten(#738598, 10%),
    lightest: #dfe2e2,
);


@function color($colorName) {
    @return map-get($colors, $colorName)
}

;

$fonts:(basic: 22px,
    footer: 15px,
    headerSize: 24px,
);

@function font($fontSize) {
    @return map-get($fonts, $fontSize)
}

;

$paddings:(basic: 5px,
    topSide: 10px,
    leftSide: 20px,
    rightSide: 20px,
    bottomSide: 50px,
);

@function padding($paddingSize) {
    @return map-get($paddings, $paddingSize)
}

;

// DESIGN ================================

body {
    background: color(primary);
    color: color(fontLine);
    font-family: 'Abel', sans-serif;
    font-size: font(basic);
    margin: 0;

    #header {
        width: 100%;
        display: inline-block;

        p {
            font-size: font(headerSize);
            font-weight: bold;
            text-align: center;
        }

        .responsiveImg {
            padding: padding(basic);
            width: 100%;
            max-width: 40px;
            height: 40px;
        }
    }

    #informationBar {
        background: color(accent);
        border-bottom: 1px solid color(fontLine);
        border-top: 2px solid color(fontLine);
        padding: 0;

        #infoTableHeader {
            background: color(primary);
            border-bottom: 2px solid color(fontLine);
            font-weight: bold;
            padding: padding(basic);

            ul div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }

        #infoTableInfo {

            .collapsible {
                border-bottom: 2px solid color(fontLine);
                padding: padding(basic);
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                justify-content: space-evenly;
                text-align: center;
                justify-content: center;

                div {
                    width: 33%;
                    height: 100%;
                }

            }

            .content {
                display: none;
            }

            #moreInfo {
                width: 100%;
                background: color(lightest);

                #detailInfos {
                    display: flex;
                   
                    #gigAddress {
                        border: 2px solid purple;

                        p {
                            border: 2px solid red;
                            font-size: font(basic);
                        }
                    }

                    button {
                        border: 2px solid green;
                        cursor: pointer;
                    }
                }


                #map {
                    border: 2px solid black;
                    background: pink;
                    width: 100%;
                    height: 100%;

                }
            }
        }
    }

    #footer {
        font-size: font(footer);
        background: color(primary);
        color: color(fontLine);
        font-weight: bold;
        position: fixed;
        bottom: 0;
        height: 40px;
        width: 100%;
        text-align: center;
        padding: padding(topSide);

        p {
            padding: 0;
            margin: 0;

            a,
            i {
                text-decoration: none;
                color: color(fontLine);
                font-weight: normal;
                padding-left: padding(topSide);
            }
        }
    }

    #topBtn {
        position: fixed;
        bottom: 2%;
        right: 2%;
        font-size: 22px;
        width: 50px;
        height: 50px;
        background: color(primary);
        color: color(accent);
        border: none;
        text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkblue;
        cursor: pointer;
        display: none;
    }
}